#map
{
	height: 500px;
    width: 100%;
    display:block;
}

html
{
	scroll-behavior: smooth;
}

.logo-header
{
	height:105px;
	width:100px;
	
}

.carrousel-logo
{
	width: 252px;
}


.center-h3
{
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.logo-header-index
{
	height:65px;
	width:60px;
	
}

.h1-style
{
	font-size:40px;
	font-weight: 600;
	line-height: 1.2;
	color:white;
    font-family:"Roboto" !important;
}

.h2-style
{
	font-size:15px;
	font-weight: 500;
	line-height: 1.2;
	color:black;
}

.h3-style
{
	font-size:30px;
	font-weight: 500;
	line-height: 1.2;
	color:black;
}

@font-face
{
	font-family: "Roboto";
	src: url("font/Roboto-Regular.eot");
	src: url("font/Roboto-Regular.eot?#Roboto-Regular") format("embedded-opentype"),
	url("font/Roboto-Regular.woff") format("woff"),
	url("font/Roboto-Regular.ttf") format("truetype"),
	url("font/Roboto-Regular.svg#Roboto-Regular") format("svg");
}

body
{
	font-family:"Roboto" !important;
}

.bg-light
{
	background-color: #F2F2F2 !important;
}